.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: rgba(59, 130, 246, 0.3);
  --rdp-background-color: rgba(59, 130, 246, 0.1);
  --rdp-accent-color-dark: rgba(59, 130, 246, 0.5);
  --rdp-background-color-dark: rgba(59, 130, 246, 0.2);
  --rdp-outline: none;
  --rdp-outline-selected: none;
  margin: 0;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: rgba(59, 130, 246, 0.2) !important;
  color: #fff !important;
}

.rdp-day_selected {
  background-color: rgba(59, 130, 246, 0.4) !important;
  color: #fff !important;
}

.rdp-day_selected:hover {
  background-color: rgba(59, 130, 246, 0.5) !important;
}

.rdp-day_today {
  font-weight: bold;
  color: #fff !important;
}

.rdp-button {
  color: rgba(255, 255, 255, 0.8) !important;
}

.rdp-head_cell {
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 600 !important;
}











